* {
    box-sizing: border-box;
  }
  .box {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-color: lightblue;
    text-align: center;
    font-weight: bold;
    padding: 15px 0;
  }
  .out-flex-container {
    display: flex;
    justify-content: space-between;
  }
  .in-flex-container {
    display: flex;
  }
  .container {
    border: 1px solid red;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header div {
    display: flex;
    align-items: center;
  }
  header div p {
    font-size: 40px;
    font-weight: bold;
  }
  ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: space-between;
  }
  ul li {
    padding: 10px;
  }
  ul li:hover {
    font-weight: bold;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    column-gap: 15px;
    row-gap: 10px;
  }
  .grid-item {
    border: 1px solid red;
  }

  .grid-item .box{
    margin: 0 auto;
  }