*{
    box-sizing: content-box;
}

.grid{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}

.griditem{
    border: 2px solid red;
    background-color: blueviolet;
    justify-content: center;
    align-items: center;
    padding: 1em;
    
}

.gridbox{
    width: 50px;
    height: 50px;
   
}

.griditem .gridbox{
    border: 1px solid black;
    text-align: center;
    background-color: bisque;
   
}

.flex-container{
    display: flex;
    flex-direction: row;
    border: 1px dashed #666;
    padding: 1em;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.flex-item{
    border: 1px solid #666;
    padding: 1em;
    margin: 1em;
    background-color: #eee;
   /* width: 48%px;*/
   flex-basis: 30%;
    
    height:auto;
    margin-bottom: 2%;
}


