* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

.flex-container {
    display: flex;
    flex-direction: row;
    border: 1px dashed #666;
    padding: 1em;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex-item {
    border: 1px solid #666;
    padding: 1em;
    margin: 1em;
    background-color: #eee;
    width: 30%;
    height: 100px;
    margin-bottom: 2px;
}

.flex-item:nth-child(4n+1) {
    flex-basis: 100%;
}