body {
  font-family: Tahoma, sans-serif;
  font-size: 16px;
  color: #3b3a3a;
}
h1 {
  text-align: center;
}
div {
  background-color: burlywood;
}
.width1 {
  width: 50%;
}
.width2 {
  width: 500px;
}
.width3 {
  /* font-size: 10px; */
  width: 25em;
}
.height1 {
  height: 50%;
}
.height2 {
  height: 150px;
}
.blue {
  background-color: rgb(32, 84, 228);
}
.height3 {
  height: 5.5em;
}
.border {
  border: 2px solid #333;
}
.borderW {
  border: 6px solid #333
}
.bStyle {
  border: 5px dashed #333;
}
.bColor {
  border: 5px solid rgb(32, 84, 228);
}
.bColor2 {
  border-top: 5px solid black;
  border-bottom: 5px dashed rgb(56, 29,145 );
  border-left: 7px dotted #3f3 ;
  border-right: 10px double #f689;
}
.puding {
  padding: 20px;
}
.puding2 {
  text-align: justify;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 50px;
}
.margina {
  margin: 20px;
}
.margina2 {
  margin-top: 20px;
  margin-left: 200px;
  margin-right: 30px;
  margin-bottom: 50px;
}
.marginA {
  margin: auto;
}
