* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

.flex-container {
    display: flex;
    flex-direction: row;
    border: 1px dashed #666;
    padding: 1em;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex-item {
    border: 1px solid #666;
    padding: 1em;
    margin: 1em;
    background-color: #eee;
    width: 48%;
    height: 100px;
    margin-bottom: 2px;
    text-align: center;
}

/* .flex-item:nth-child(3) {
    flex-basis: 600px;
    align-self: flex-end;
    flex: 1 3 600px;
} */

.flex-item:nth-child(3n) {
    width: 100%;
}