<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout Dodatno</title>
    <style>
        
    </style>
</head>
<body>

    <header>
        <div>
            <img src="logo.avif" alt="Logo">
            <p>Moja Tvrtka</p>
        </div>
        <nav>
            <ul>
                <li>Opcija1</li>
                <li>Opcija2</li>
                <li>Opcija3</li>
            </ul>
        </nav>
    </header>

    <main></main>

    <footer></footer>
</body>
</html>