body {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  color: #333;
 /* background-color: #ddd;
  background-image: url(/3_CSS/Vjezba5_Background/Primjer2/butterfly.png);
  background-repeat:no-repeat;
  background-size: 25%;
  background-position: center center;
  background-attachment: fixed;
  background-blend-mode: overlay; */

  background: #ddd url(/3_CSS/Vjezba5_Background/Primjer2/butterfly.png) center center/25% no-repeat fixed;
}