* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #333;
}
.flexcontainer {
  display: flex;
  border: 1px dashed #666;
  padding: 1em;
}
.flexitem {
  border: 1px solid #666;
  padding: 1em;
  margin: 1em;
  background-color: #eee;
  width: 150px;
  text-align: center;
}

.flexitem:nth-child(3){
  order: -1;
}
.flexitem:nth-child(4){
  order: -2;
}
