* {
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}
.flex-container {
    display: flex;
    border: 1px dashed #666;
    padding: 1em;
    justify-content: space-evenly;
    align-items: stretch;
    height: 400px;
}
.flex-item {
    border: 1px solid #666;
    padding: 1em;
    margin: 1em;
    background-color: #eee;
    width: 100px;
    text-align: center;
}