* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #333;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100vh;
}

.flex-container > *, section {
    padding: 10px;
}

header, footer {
    background-color: #999;
    flex: 0 100%;
    height: 10vh;
}

main {
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 0 100%;
}

section {
    background-color: #eee;
    flex: 0 24%;
}

@media (max-width: 1023px) {
    section {
        flex: 0 49%;
        height: 48%;
    }
}

@media (max-width: 767px) {
    section:first-child, section:last-child {
        flex: 0 100%;
        height: 24%;
    }

}

@media (max-width: 479px) {
    section {
        flex: 0 100%;
        height: 24%;
    }
}