*{
  margin: 0;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  font-size: 48px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.btnGrupa {
  font-size: 0;

}

.btnGrupa button {
  font-size: 16px;
  font-weight: bold;
  border: 1px solid rgb(69,69,68);
  color: rgb(69,69,68);
  background-color: rgb(204,207,204);
  padding: 10px 24px;
  
}
.btnGrupa button:not(:last-child) {
  border-right: none;
}

.btnGrupa button:disabled {
  background-color: rgb(68, 69, 68);
  color: rgb(204,207,204);
}

.btnGrupa button:not(:disabled):hover {
  background-color: rgb(173,175,173);
  cursor: pointer;
}

#todo {
  border: 1px solid rgb(68, 69, 68);
  width: 60%;
  margin: 50px auto 0px auto;
  border-radius: 3px;
  box-shadow: 2px 2px 4px rgb(173,175,173);
}