* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}

.flex-container {
  display: flex;
  border: 1px dashed #666;
  padding: 1em;
  justify-content: start; /* end, center - poravnanje po početku kontenjera, po kraju ili po sredini, ima i space-between, space-around ili space-evenly (razmak između sadržaja) */
}

.flex-item {
  border: 1px solid #666;
  background-color: #eee;
  text-align: center;
  margin: 1em;
  padding: 1em;
  width: 100px;
}
