body {
  font-family: Tahoma, sans-serif;
  font-size: 16px;
  color: #333;
  /* background-color: #ddd;
    background-image: url(butterfly.png);
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: center center;
    background-attachment: fixed; */
  background: #ddd url(butterfly.png) center center/25% no-repeat fixed;
}
div {
  width: 300px;
  height: 300px;
  background-color: red;
  background-image: url(butterfly.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
