*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}
header, footer, main, article, section, aside{
    border: 1px solid #ccc;
    padding: 1em;
}
header, footer{
    background-color: #ccc;
    height: 10vh;
    margin: auto;
}
main{
    display: flex;
    justify-content: space-between;
    min-height: 80vh;
}
section{
    flex-basis: 66%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
aside{
    flex-basis: 32%;
}
article{
    width: 49%;
    flex-basis: 24%;
}