.box {
  width: 300px;
  height: 300px;
  background-color: red;
}

.box1 {
  width: 300px;
  height: 300px;
  background-color: blue;
  animation-name: movingBox;
  animation-duration: 2000ms;
}

.box2 {
  width: 300px;
  height: 300px;
  background-color: pink;
}


@keyframes movingBox{
  0% {
    transform: translate(0,0);
  }
  100%{
    transform: translate(100px, 100px);
  }
}