body {
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    color: #333;
    margin: 0;
}

ul {
    list-style: none;
    border: 1px solid #ccc;
    padding: 1em;
}

li {
    display: inline-block;
    width: 19%;
    background-color: #ffc;
}

p {
    display: inline-block;
    width: 23%;
    border: 1px solid #fcc;
    padding: 5px;
}

.margina {
    margin-left: -6px
}
