body {
  background: url(/3_CSS/Vjezba5_Background/Zadatak1/fire.png) center 30%/18%
      no-repeat fixed,
    url(/3_CSS/Vjezba5_Background/Zadatak1/pattern.png),
    url(/3_CSS/Vjezba5_Background/Zadatak1/blossom.jpg) center center/cover
      no-repeat fixed;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: #ccc;
}
h1 {
  background: #333;
  text-align: center;
}
