/*body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #333;
}*/

.div{
    border: 20px solid #333;  
    width: 800px;
    height: 800px;
    margin: auto auto;
    background-color: #eee;
   
}

.div1{
    width: 50%;
    height: 50%;
    background-color: red;
    
    
}

.div2 {
    background: blue;
    width: 50%;
    height: 50%;
    float: right;
   
}

p{
    margin-top: 0px;
    text-align: center;
    padding-top: 20px;
}


