*{
    box-sizing: border-box;
}
body{
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    color: #333;
}
h1{
    text-align: center;
}
.wrapper{
    text-align: center;
}
.wrapper div{
    background-color: #f93;
    border: 4px solid #333;
    border-radius: 100%;
    display: inline-block;
    font-size: 2em;
    line-height: 90px;
    width: 100px;
    height: 100px;
    margin: 1em;
    text-align: center;
    position: relative;
}