@mixin flex-container {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: space-around;
    width: 100vw;
}

@mixin keyframes($animation-name) {
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
    animation: #{$str};
}