body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: #333;
}
div {
  background-color: #eee;
  text-align: justify;
}

.div1 {
  border: 5px solid #666;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  padding: 2em;
  width: 300px;
}

.div2 {
  border: 5px dashed #666;
  margin-top: 2em;
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 2em;
  padding-top: 2em;
  padding-left: 4em;
  padding-right: 4em;
  padding-bottom: 2em;
  width: 25%;
}
.div3 {
  border-right: 8px double #666;
  margin-top: 2em;
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 2em;
  padding-top: 5px;
  padding-left: 50px;
  padding-right: 20px;
  padding-bottom: 30px;
  width: 30em;
}
.div4 {
  border-top: 4px dashed #666;
  border-bottom: 6px dotted #333;
  margin: auto;
  padding: 10px;
  width: 80%;
}
