.div1 {
    background-color: blue;
    width: 300px;
    height: 300px;
}

%div2 {
    background-color: green;
    width: 300px;
    height: 300px;  
}

.div3 {
    @extend .div1
}

.div4 {
    @extend %div2;
}