* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1em;
}
.flex-item {
  border: 1px solid #666;
  background-color: #eee;
  flex: 0 32%;
  height: 100px;
  padding: 1em;
  text-align: center;
  margin-bottom: 2%;
}

/*Uređaji manje širine od 1024px*/

@media (max-width: 1024px) {
  .flex-item {
    flex: 0 48%;
  }
}

/*Uređaji manje širine od 480px - portret mobiteli*/
@media (max-width: 480px) {
  .flex-item {
    flex: 0 100%;
  }
}
