$color1: #eee;
$color2: #333;
$color3: #800;
$font1: Tahoma, sans-serif;
$font2: Courier, monospace;

@mixin align-element($display, $space, $txt) {
  display: $display;
  margin: $space;
  text-align: $txt;
}

@mixin flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@mixin a-button {
  a {
    background-color: $color2;
    color: $color1;
    padding: 10px;
    margin: 1em;

    &:hover {
      background-color: $color3;
    }
  }
}

body {
  background-color: $color1;
  color: $color2;
  font-family: $font1;
}

header {
  a {
    @include align-element(block, 1em auto, center);
    color: $color1;
    background-color: $color2;
    padding: 10px;
    width: 300px;
  }
}

section {
  @include flex-container();
  background-color: $color3;
  padding: 1em;
  article {
    flex-basis: 48%;
    background-color: $color1;
  }
  a {
    @include align-element(inline-block, 1em 50px, right);
  }
}

footer {
  @include a-button();
}
