@mixin flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
}

@mixin keyframes($animation-name) {
    @keyframes #{$animation-name} {
        @content;
    }
} 

@mixin animation($str) {
    animation: #{$str};
}
