body {
    margin: 0;
    height: 100vh;
    background: url('slika1.jpg') no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
}

.snow-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.snowflake {
    position: absolute;
    top: -10px;
    left: 50%;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    opacity: 0.8;
    animation: fall 5s infinite linear;
}

@keyframes fall {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(110vh) translateX(-50px);
    }
}