* {
  box-sizing: border-box;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
header div {
  display: flex;
  align-items: center;
}

header div p {
  font-size: 40px;
  font-weight: bold;
}

ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  justify-content: space-between;
}

ul li {
  padding: 10px;
}

ul li:hover {
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}
.out-flex-container {
  display: flex;
  justify-content: space-between;
  margin: 40px auto;
}

.in-flex-container {
  display: flex;
}
.box {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  background-color: lightblue;
  font-weight: bold;
  text-align: center;
  padding: 15px 0px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 15px;
  margin-top: 30px;
}

.grid-item {
  border: 1px solid red;
}

.grid-item .box {
  margin: 0px auto;
}
