* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Tahoma, sans-serif;
  font-size: 16px;
  color: #333;
}
h1 {
  text-align: center;
}

/* box */

div {
  background-color: #f93;
  border: 1px solid #333;
  font-size: 2em;
  line-height: 150px;
  width: 400px;
  height: 150px;
  margin: 0 auto 2em;
  text-align: center;
}

/* Tranzicije */

div:nth-of-type(1) {
  -webkit-transition: background 1s ease-out, width 1.5s linear;
  transition: background 1s ease-out, width 1.5s linear;
}
div:nth-of-type(1):hover {
  background: #8cc;
  width: 650px;
}

div:nth-of-type(2) {
  -webkit-transition: -webkit-transform 2s ease-in-out;
  transition: -webkit-transform 2s ease-in-out;
  transition: transform 2s ease-in-out;
  transition: transform 2s ease-in-out, -webkit-transform 2s ease-in-out;
}
div:nth-of-type(2):hover {
  -webkit-transform: rotate(360deg) scale(1.5);
          transform: rotate(360deg) scale(1.5);
}

div:nth-of-type(3) {
  -webkit-transition: -webkit-transform 1s linear;
  transition: -webkit-transform 1s linear;
  transition: transform 1s linear;
  transition: transform 1s linear, -webkit-transform 1s linear;
}

div:nth-of-type(3):hover {
  -webkit-transform: translate(400px, 0) rotate(90deg);
  transform: translate(400px, 0) rotate(90deg);
}

div:nth-of-type(4) {
  -webkit-transition: background 1s linear, height 0.5s ease-out 1s,
    -webkit-transform 2.5s ease-in 2s;
  transition: background 1s linear, height 0.5s ease-out 1s,
    -webkit-transform 2.5s ease-in 2s;
  transition: background 1s linear, height 0.5s ease-out 1s,
    transform 2.5s ease-in 2s;
  transition: background 1s linear, height 0.5s ease-out 1s,
    transform 2.5s ease-in 2s, -webkit-transform 2.5s ease-in 2s;
}

div:nth-of-type(4):hover {
  background: yellow;
  height: 200px;
  -webkit-transform: translate(0, 200px);
          transform: translate(0, 200px);
}
