@import "./abstract/colors";

body
{
    font-family: $font1;
    margin: 0;
    background-color: $color4;
}

header
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    nav  
    {
        ul 
        {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;

            li 
            {
                font-size: 20px;
                padding: 15px;

                a 
                {
                    text-decoration: none;
                    color: $color3;
                }

                a:hover 
                {
                    padding: 12px;
                    border-radius: 6px;
                    color: $color4;
                    background-color: $color3;
                }
            }
        }
    }
    .Logo
    {
    padding: 10px;
    font-size: 50px;
    font-family: $font2;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    color: $color3;
    a 
    {
        padding: 10px;
        text-decoration: none;
    }
    a:visited 
    {
        color: $color3;
    }
    }
}
main 
{
    ul
    {
        width: 1200px;
        display: grid;
        margin: 0 auto 48px auto;
        grid-template-columns: 1fr 1fr;
        gap: 20px 20px;
      li 
      {
        display: flex;
        background-color: white;
        box-shadow: 1px 1px 4px rgba(0,0,0, 0.2);
        border-radius: 6px;
        img 
        {
            width: 300px;
            height: 280px;
            object-fit: cover;
        }
      }
      li:nth-of-type(3) 
      {
       grid-column: 1 / 3; /* start at column 1 and finish at column 3*/
      }
    }
    .item-content 
    {
        padding: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        h2 
        {
            margin: 0;
        }
    }
    .actions 
    {
        text-align:right;
    }
}

footer
{
    background-color: black;
    div 
    {
        padding: 36px 0;
        text-align: center;
        img 
        {
            height: 100px;
            width: 100px;
            padding: 15px;
        }
    }
}