* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}

.flex-container {
  display: flex;
  flex-direction: column;
  border: 1px dashed #666;
  padding: 1em;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  height: 600px;
}

.flex-item {
  border: 1px solid #666;
  background-color: #eee;
  text-align: center;
  padding: 1em;
  flex-basis: 32%;
  width: 24%;
  flex-grow: 0;
}

.flex-item:nth-child(4n + 1) {
  flex-basis: 100%;
}
