$color1:rgb(245, 243, 160);
$color2:rgb(255, 251, 0);
$color3:rgb(183, 230, 235);
$color4:rgb(68, 68, 68);
$color5:rgb(22, 211, 228);
$color6: white;
$color7:rgb(136, 41, 41);
$font1: "Quicksand", sans-serif;
$font2: "Oleo Script", sans-serif;