*{
    box-sizing: border-box;
}
body{
    margin: 0px;
}
header{
    background-color: hsl(0, 0%, 86%);
    text-align: center;
    padding: 25px;
}

.navbar ul{
    background-color:hsl(0, 0%, 15%) ;
    height: auto;
    list-style-type: none ;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;

}


.navbar a:hover{
    background-color:hsl(0, 0%, 25%) ;

}

.navbar li{
    float:left;
}

aside{
    width: 20%;
    float: left;
    padding: 10px;
}

section{
    width: 40%;
    float: left;
    padding: 10px;
}

article{
    width: 40%;
    float: left;
    padding: 10px;
}

footer{
    
    background-color: hsl(0, 0%, 86%);
    text-align: center;
    padding: 0px;
    
    display: block;
    clear: both;
}

.footer a {
    
    display:block ;


}

/*.footer div a {
    text-align: left;
}*/

.footer div {
    width: 20%;
    float:left;
    background-color:hsl(0, 0%, 86%); 
}




@media screen and (max-width:600px){
    aside, section, article{
        width: 100%;
    }
}

