* {
    margin: 0;
}


body {
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    color: #333;
}

h1 {
    text-align: center;
}
p {
    background-color: #f93;
}
.inline {
    display: inline;
}
.inlineBlock {
    display: inline-block;
}
.inlineBlockBox {
    width: 300px;
    height: 100px;
    margin: 20px;
}
.none {
    display: none;
}
em {
    color: #ccf;
}
.block {
    display: block;
}