body {
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    color: #333;
    margin: 0px;
}

div {
    background-color: #eee;
    text-align: justify;
}

div:nth-of-type(1) {
    border: 5px solid #666;
    margin: 2em auto;
    padding: 2em;
    width: 300px; 
}

div:nth-of-type(2) {
    border: 5px dashed #666;
    margin-top: 2em;
    margin-right: 0;
    margin-bottom: 2em;
    margin-left: auto; 
    padding: 2em 4em;
    width: 25%; 
}

div:nth-of-type(3) {
    border-right: 8px double #666;
    margin-top: 2em;
    margin-right: auto;
    margin-bottom: 2em;
    margin-left: 0; 
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 50px;
    width: 30em; 
}

div:nth-of-type(4) {
   border-top: 4px dashed #666;
   border-bottom: 6px dotted #333;
   margin: auto;
   padding: 10px;
   width: 80%;
}
