body {
  font-family: Tahoma, sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #ddd;
}
p:first-of-type {
  background: #ffc
    url(https://github.com/JosipErcegovac/Algebra-FE-14102024/blob/main/3_CSS/Vjezba5_Background/Primjer3/light-bulb.png?raw=true)
    center center/contain no-repeat;
}
p:nth-of-type(3) {
  background: url(https://github.com/JosipErcegovac/Algebra-FE-14102024/blob/main/3_CSS/Vjezba5_Background/Primjer3/orange.png?raw=true)
      right top/150px no-repeat,
    url(https://github.com/JosipErcegovac/Algebra-FE-14102024/blob/main/3_CSS/Vjezba5_Background/Primjer3/butterfly.png?raw=true)
      left center/contain no-repeat,
    url(https://github.com/JosipErcegovac/Algebra-FE-14102024/blob/main/3_CSS/Vjezba5_Background/Primjer3/coffee-cup.png?raw=true)
      center center/contain no-repeat,
    #ccf
      url(https://github.com/JosipErcegovac/Algebra-FE-14102024/blob/main/3_CSS/Vjezba5_Background/Primjer3/pattern.png?raw=true);
}
