body {
  font-family: Tahoma, sans-serif;
  font-size: 16px;
  margin: 0;
  color: #333;
}

ul {
  list-style: none;
  border: 1px solid #ccc;
  padding: 1em;
}

li {
  display: inline-block;
  width: 19%;
  background-color: #ffc;
}

p {
  display: inline-block;
  width: 23%;
  border: 1px solid #ccc;
  padding: 5px;
  text-align: justify;
}
.margina {
  margin-left: -6px;
}
