* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #333;
}
.flexcontainer {
  display: flex;
  flex-direction: column;
  border: 1px dashed #666;
  padding: 1em;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  height: 600px;
  
}
.flexitem {
  border: 1px solid #666;
  /* padding: 1em; */
  
  background-color: #eee;
  flex-basis: 25%;
  width: 24%;
  flex-grow: 0;
}

.flexitem:nth-child(4n+1) {
  flex-basis: 100%;
}
