.removeButton {
	display: inline-block;
	width: 10px;
	height: 10px;
	background: red;
}

.todoList li {
	list-style-type: none;
}

.todoList li.done { 
	text-decoration: line-through;
}

* {
  margin: 0;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;  
}

h1 {
    font-size: 48px;
    margin-top: 40px;
    margin-bottom: 20px;
    color: rgb(68,69,68);
}

.button-group {
    font-size: 0;
}

.button-group button {
   font-size: 16px;
   font-weight: bold;
   border: 1px solid rgb(68,69,68);
   color: rgb(68,69,68);
   background-color: rgb(204, 207, 204);
   padding: 10px 24px;
   cursor: pointer;
}

    .button-group button:not(:last-child) {
    border-right: none;
}

.button-group button:disabled {
    background-color: rgb(68,69,68);
    color: rgb(204, 207, 204);
}

.button-group button:not(:disabled):hover {
    background-color: rgb(173,175,173);
    cursor: pointer;
}

#section-todo {
    border: 1px solid rgb(68,69,68);
    width: 60%;
    margin: 50px auto 0px auto;
    border-radius: 3px;
    box-shadow: 2px 2px 4px rgb(173,175,173);
}