body {
font-family: Tahoma, sans-serif;
font-size: 16px;
color: #333;
margin: 0;}
div {
background-color: #eee;
text-align: justify}

div:nth-of-type(1) {
    border: 5px solid #666;
    margin: 2em auto;
    padding: 2em;
    width: 300px;
  }
  
  div:nth-of-type(2) {
    border: 5px dashed #666;
    margin: 2em 0 2em auto;
    padding: 2em 4em;
    width: 25%;
  }
  
  div:nth-of-type(3) {
    border-right: 8px double #666;
    margin: 2em auto 2em 0;
    padding: 5px 20px 30px 50px;
    width: 30em;
  }
  
  div:nth-of-type(4) {
    border-top: 4px dashed #999;
    border-bottom: 6px dotted #333;
    margin: auto;
    padding: 10px;
    width: 80%;
  }


/*****
Za prvi <div> element

- border 5px solid #666
- margina gore i dolje 2em lijevo idesno auto
- padding lijevo desno gore i dolje 2em
- sirina 300px

Za drugi <div> element
- border 5px dashed #666
- margina gore 2em, desno 0, dolje 2em lijevo auto
- padding gore i dolje 2em, lijevo i desno 4em
- sirina 25%

Za treci <div> element
- border-right 8px double #666
- margina gore 2em, desno auto, dolje 2em lijevo 0
- padding gore 5px, desno 20px, dolje 30px, lijevo 50px
- sirina 30em

Za cetvrti <div> element
- border-top 4px dashed #666
- border-bottom 6px dotted #333
- margina svuda auto
- padding svuda 10px
- sirina 80%	
